body {
    background: rgb(236, 209, 188);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background: rgb(228, 190, 160);
}

.adat {
    background:rgb(191, 113, 54);
    color:white;
}

.adat p {
    margin:0px;
    font-size:20px;
}

td {
    max-width: 40px;
}

.gomb, .adat {
    letter-spacing: 1px;
}

.gomb {
    background-color: rgb(111, 66, 31);
    border: none;
    letter-spacing: 3px;
}
